<html>
  <head>
    <title>Panel Details</title>
  </head>
  <body>
    <div class="entry">
      {% if panels.get("knowledge_panels") %} 
        {% for panel in panels.get("knowledge_panels") %} {% for i in panel.values() %}
          <!--  rendering title of the panel  -->
          <h3 class="panel title">{{i.title_element.title}}</h3>
          {% for element in i.elements -%}
            <!-- Rendering html data, escaping html characters -->
            {{ element.text_element.html|safe }}
            <!-- Rendering source url and source text  -->
            {%if element.text_element.source_url +%}
              <em>
                source:
                <a href="{{element.text_element.source_url}}"
                  >{{element.text_element.source_text}}
                </a>
              </em>
            {% endif %} 
          {% endfor %}
        {% endfor %}
      {% endif %}
    </div>
  </body>
</html>
