{% if panels.get("knowledge_panels") %}
  {% if panels["knowledge_panels"].get("Description") %}
  <div id="kp-description">
    {{ panels["knowledge_panels"]["Description"].elements[0].text_element.html|safe }}
  </div>
  {% endif %}
  {% for panel_name, content in panels["knowledge_panels"].items() %}
    {# only display panels with elements #}
    {% if panel_name != 'Description' and content.elements %}
    {# rendering a panel #}
    <details id="kp-{{ panel_name }}">
    {#  rendering title of the panel  #}
      <summary><i>{{ content.title_element.title }}</i></summary>
          {% for element in content.elements -%}
          {# Rendering html data, escaping html characters #}
            {{ element.text_element.html|safe }}
          {# Rendering source url and source text  #}
            {%if element.text_element.source_url +%}
              <em>
                <b>source:</b>
                <a href="{{element.text_element.source_url}}"
                  >{{ element.text_element.source_text }}
                </a>
              </em>
            {% endif %}
          {% endfor %}
    </details>
    {% endif %}
  {% endfor %}
{% endif %}