{{#if knowledge_panels}}
<div class="panel item">
{{#each knowledge_panels }}
{{#each this}} 
{{#if elements.length}}
<h3 class="panel title">{{title_element.title}}</h3>
{{#each elements}}
  {{{text_element.html}}}
  {{#if text_element.source_url}}
  <em>source:<a href="{{text_element.source_url}}">{{text_element.source_text}}</a></em>
  {{/if}}
{{/each}}
{{/if}}
{{/each}}
{{/each}}
</div>
{{/if}}
