aiohttp==3.10.2
async-lru==2.0.4 # async lru_cache https://github.com/aio-libs/async-lru
asyncer==0.0.1
fastapi==0.109.1
jinja2==3.1.4
fastapi_utils==0.2.1
inflect==7.0.0
pycountry==22.3.5
PyYAML==6.0.1
uvicorn[standard]==0.23.2
Wikidata==0.7.0
openfoodfacts==0.1.5

# metrics
prometheus-fastapi-instrumentator==6.1.0

# dev
black==24.3.0
pytest==7.4.0
pytest-mock==3.11.1
pytest-asyncio==0.21.1
flake8==6.1.0
pyflakes==3.1.0
isort==5.12.0
beautifulsoup4==4.12.2
httpx==0.24.1